<mat-card class="p-1">
  <mat-card-header>
    <mat-card-title>Pipes Básicos</mat-card-title>
    <mat-card-subtitle>
      Pipes incluidos en Angular - Common Module
    </mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-divider></mat-divider> -->
  <mat-card-content>
    <div class="grid">
      <div class="col-12 md:col-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>uppercase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ nameLower | uppercase }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 md:col-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>lowercase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ nameUpper | lowercase }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 md:col-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>titlecase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ nameComplete | titlecase }}
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 md:col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>titlecase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ol>
              <li>fecha</li>
              <li>fecha | date</li>
              <li>fecha | date:'short'</li>
              <li>fecha | date:'long'</li>
              <li>fecha | date:'MMMM'</li>
              <li>fecha | date:'MMMM dd, yyyy'</li>
            </ol>
            <hr />
            <ol>
              <li>fecha | date:'long':'GMT-6'</li>
              <li>fecha | date:'long':'GMT-5'</li>
            </ol>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 md:col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title>titlecase</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ol>
              <li>{{ customDate }}</li>
              <li>{{ customDate | date }}</li>
              <li>{{ customDate | date : "short" }}</li>
              <li>{{ customDate | date : "long" }}</li>
              <li>{{ customDate | date : "MMMM" }}</li>
              <li>{{ customDate | date : "MMMM dd, yyyy" }}</li>
            </ol>
            <hr />
            <ol>
              <li>{{ customDate | date : "long" : "GMT-6" }}</li>
              <li>{{ customDate | date : "long" : "GMT-5" }}</li>
            </ol>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
