<h2>By Region</h2>
<hr />
@if (loading) {
<app-loader></app-loader>
}
<div class="row">
  <div class="col text-center">
    @for (region of regions; track region) {
    <button
      type="button"
      class="btn mx-2"
      [ngClass]="{
        'btn-primary': region === selectedRegion,
        'btn-outline-primary': region !== selectedRegion
      }"
      (click)="searchByRegion(region)"
    >
      {{ region | titlecase }}
    </button>
    }
  </div>
</div>
<div class="row">
  <div class="col">
    <hr />
    <app-country-table [countries]="countriesList"></app-country-table>
  </div>
</div>
